<div class="container">
  <h4 class="text-center">Add a Cocktail</h4>
  <div class="grid">
    <div class="form-block">
      <%= simple_form_for [@cocktail] do |f| %>
        <%= f.input :name %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.submit "Add cocktail"%>
      <% end %>
    </div>
  </div>
</div>
